$color_white:#FFFFFF;
$color_black:#000000;


$color_accent: #64438e;
$color_accent--light: #9292ec;
$color_auxiliary:#65A881;
$color_primary: #eaebf4;
$color_primary--accent: #f1f1f8;

$color_text-color:#3d327b;
$color_icon:#ae7ff6;
$color_link:#4d96e6;

$color_line:#e4e4ea;
$color_mark:#f2f7fb;
$color_success:#18C5BF;
$color_glassmorphism:#ffffff4d;
$color_warning:#ffcb40;

$gradient-color_accent: #D94e76,
#849fe6;
$gradient-color_auxiliary: #FDE0D3,
#EAEBF4;
$gradient-color_background: #4158D0,
#C850C0,
#FFCC70;
$gradient-color_glassmorphism: #ffffffe7,
#ffffff1e;
