$max-width_container:1300px;

$width_container--big:85%;
$width_container:80%;
$width_container--small:70%;

$width_max-layout:410px;

$height_navbar:80px;
$height_banner:400px;

$layout-size_big:120px;
$layout-size_base:60px;
$layout-size_small:30px;

$row-size_col-margin:10px;

$border-radius_btn:16px;
$border-radius_layout:20px;
